<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--
  <link rel="stylesheet" href="/code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="cache-control" content="no-cache"/>

    <!-- Sidebar -->
 
  
<title>Crear Examen</title>
</head>
<body>
  <!-- Page Content -->
  
    
    <h4 class="display w3-bar-item d-inline-block" onclick="" >QuizApp</h4>
    <p class="display w3-bar-item d-inline-block" onclick="" >Help</p>
    <p class="display w3-bar-item d-inline-block" onclick="" >FAQ</p>
  
  </div>
  <br>
<div class="row justify-content-center mt-5 pt-5">
  <header class="text-center mb-5"><h1>Crea un nuevo exámen</h1></header>
</div>
      
    <form action="/editores/crear"  id="formularioQuizz" method="POST" enctype="multipart/form-data" align="center">

        <input type="hidden" name="nivel"     value="<%= datosDocenteSesion.nivel.id %>">
        <input type="hidden" name="grado"    value="<%= datosDocenteSesion.grado.id %>" >
        <input type="hidden" name="bloques"    value="<%= datosDocenteSesion.bloque.id %>" >
        <input type="hidden" name="claveMateria"   value="<%= datosDocenteSesion.materia.id %>">
        <input type="hidden" name="Secuencias" value="<%= datosDocenteSesion.secuencia.id %>">
        <input type="hidden" name="creador"   value="<%= datosDocenteSesion.usuario %>">


            <div class="text-center">
              <p class="display-6">Nombre del Quizz:</p>
              
              <input type="text" name="nombreQuizz" >
            </div>
           <!-- Inserto de nuevas preguntas-->
           
            <div class="row justify-content-center mt-5 pt-5" id="insercion">
                
           </div>
            
  </form>
  
      <div class="boton3">
        <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click aqui para crear tu Quizz" delay="0" tabindex="0" class="d-inline-block" >
          <button type="button" class="btn-flotante"  onclick="envioQuizz()"  >Crear Quizz</button>
        </span>
      </div>
      <div class="container1 dropdown">
        <input type="checkbox dropbtn" id="toggle">
        <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click aqui para abrir y cerrar el menú de preguntas" delay="0" tabindex="0" class="d-inline-block" >
        <label for="toggle" class="button1"></label>
    
        </span>
       
        
        <nav class="dropdown-content">
              <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click para insertar Pregunta Abierta" delay="0" tabindex="0" class="d-inline-block" >
            <a  onclick="preguntaAbierta(), sumahref(this.id)" id="ref" class="w3-bar-item w3-button btn"  >Insertar Pregunta Abierta</a>
            </sapn>
            <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click aqui para agregar pregunta relacional" delay="0" tabindex="0" class="d-inline-block" >
            <button  id="btn1" class="btn1 btn w3-bar-item w3-button" onclick="preguntaRelacional(), desabilitado()"><a id="ref2" onclick="sumahref(this.id)" >Insertar Pregunta Relacional</a></button>
            </span>
            <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click aqui para crear una pregunta de opcion multiple" delay="0" tabindex="0" class="d-inline-block" >
            <a onclick="preguntaOM(), sumahref(this.id)" class="w3-bar-item w3-button btn" id="ref3">Insertar Pregunta Opción Múltiple</a></button>
          </span>
          <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click aqui para crear una pregunta de con imagen" delay="0" tabindex="0" class="d-inline-block" >
            <a onclick="preguntaIT(),sumahref(this.id)" id="ref4" class="btn w3-bar-item w3-button" >Insertar Pregunta-Imagen</a>
          </span>
          <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click aqui para creaa una pregunta de matematicas" delay="0" tabindex="0" class="d-inline-block" >
            <a onclick="preguntaMatematicas(), sumahref(this.id)" class="btn w3-bar-item w3-button" id="ref5" onclick="sumahref(this.id)" >Insertar Pregunta de Matemáticas</a>
          </span>
          <span data-bs-placement="top" data-bs-toggle="tooltip" title="Da click aqui para crear tu pregunta arrrastrable" delay="0" tabindex="0" class="d-inline-block" >
            <buton onclick="preguntaArrastrar()" class="w3-bar-item w3-button" ><a id="ref6" class="" onclick="sumahref(this.id)" >Inserta Pregunta Arrastrable</a></button>
          </span>
        </nav>
      </div>
  
  </div>

  <script>

    var contadorhref=1;
    function sumahref(id){
  
      if (id==="ref") {
        var ref = document.getElementById("ref");
        contadorhref++;
        ref.setAttribute("href",'#preg'+contadorhref);
        
        
      }else if (id=="ref2") {
        
          var ref2 = document.getElementById("ref2");
          contadorhref++;
          ref2.setAttribute("href",'#preg'+contadorhref);
          
      }else if (id==="ref3") {
        
          var ref3 = document.getElementById("ref3");
          contadorhref++;
          ref3.setAttribute("href",'#preg'+contadorhref);
          
      }else if (id==="ref4"){
        
        var ref4 = document.getElementById("ref4");
        contadorhref++;
        ref4.setAttribute("href",'#preg'+contadorhref);
        
  
      }else if (id==="ref5"){
        var ref5 = document.getElementById("ref5");
        contadorhref++;
        ref5.setAttribute("href",'#preg'+contadorhref);
        
      }else if (id==="ref6"){
  
        var ref6 = document.getElementById("ref6");
        contadorhref++;
        ref6.setAttribute("href",'#preg'+contadorhref)
        
      }else{
        console.log("error de link")
        
      }
    }
    function desabilitado(){
    document.getElementById("btn1").disabled = true;
    
  }
    function habilitar(){
    document.getElementsById("btn1").disabled = false;
    
  }
  </script> 
 
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="/js/creadorQuizzes.js" type="text/javascript"></script> 
    <script>
      /*!
   * jQuery UI Touch Punch 0.2.3w - WPXP Edition
   *
   * Copyright 2011–2014, Dave Furfero
   * Dual licensed under the MIT or GPL Version 2 licenses.
   * WPXP Edition - by Manuel Gumpinger
   *
   * Depends:
   *  jquery.ui.widget.js
   *  jquery.ui.mouse.js
   */
        (function (c) { c.support.touch = "ontouchend" in document; if (!c.support.touch) { return } var b = c.ui.mouse.prototype, f = b._mouseInit, g = b._mouseDestroy, e, d, i, h; function a(k, l) { if (k.originalEvent.touches.length > 1) { return } k.preventDefault(); var m = k.originalEvent.changedTouches[0], j = document.createEvent("MouseEvents"); j.initMouseEvent(l, true, true, window, 1, m.screenX, m.screenY, m.clientX, m.clientY, false, false, false, false, 0, null); k.target.dispatchEvent(j) } b._touchStart = function (k) { var j = this; if (i || !j._mouseCapture(k.originalEvent.changedTouches[0])) { return } i = true; h = false; e = k.originalEvent.touches[0].screenX; d = k.originalEvent.touches[0].screenY; a(k, "mouseover"); a(k, "mousemove"); a(k, "mousedown") }; b._touchMove = function (l) { if (!i) { return } var k = l.originalEvent.touches[0].screenX, j = l.originalEvent.touches[0].screenY; if (e >= k - 2 && e <= k + 2 && d >= j - 2 && d <= j + 2) { h = false; return } h = true; a(l, "mousemove") }; b._touchEnd = function (j) { if (!i) { return } a(j, "mouseup"); a(j, "mouseout"); if (!h) { a(j, "click") } i = false }; b._mouseInit = function () { var j = this; j.element.bind({ touchstart: c.proxy(j, "_touchStart"), touchmove: c.proxy(j, "_touchMove"), touchend: c.proxy(j, "_touchEnd") }); f.call(j) }; b._mouseDestroy = function () { var j = this; j.element.unbind({ touchstart: c.proxy(j, "_touchStart"), touchmove: c.proxy(j, "_touchMove"), touchend: c.proxy(j, "_touchEnd") }); g.call(j) } })(jQuery);
    </script>
  </body>
</html>
